html, body {
	height: 100%;
}

.menu-bar {
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #d3d3d3;
}

.menu-bar a {
	padding: 14px 16px;
	color: #121212;
	display: block;
	float: left;
	text-align: center;
	text-decoration: none;
}

.menu-bar a:hover {
	background-color: #121212;
	color: #d3d3d3;
}

.main {
	margin-top: 60px;
	height: 100%;
	width: 100%;
	padding: 10%;
}


#canvas-window {
	width: 80%;
	height: 60%;
	border: solid 2px black;
}

#edgeProperties{
	display: none;
	height: auto;
	width: 80%;
	padding: 0.5em 1em;
	background-color: white;
	border-radius: 0.25em;
	border: solid 2px black;

}

#edgeProperties input{
	max-width: 2em;
}